[submodule ".registry"]
	path = .registry
	url = https://github.com/jmlondon/universe
	shallow = true
	branch = HEAD
[submodule "pathroutr"]
	path = pathroutr
	url = https://github.com/jmlondon/pathroutr
	shallow = true
	registered = true
