[submodule ".registry"]
	path = .registry
	url = https://github.com/jmlondon/jmlondon.r-universe.dev
	branch = HEAD
[submodule "pathroutr"]
	path = pathroutr
	url = https://github.com/jmlondon/pathroutr
[submodule "wcUtils"]
	path = wcUtils
	url = https://github.com/noaa-afsc/wcUtils
